{% extends 'base.html.twig' %}


{% block body %}
    <!DOCTYPE html>
<html lang="en">
<head>
	<title>Connexion</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="/profil/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/css/util.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/profil/css/main.css">
</head>

{# Information personnelle #}
<div class="container-login100">
    <div class="wrap-login100">
        <div class="row justify-content-center">
            <div class="col">
                <h3>INFORMATION PERSONELLE
                    <a class="btn" href="{{path('edit_profil')}}"><img src="https://img.icons8.com/officel/40/000000/edit.png"></a>
                </h3>
            </div>
        </div>
      
            <div class="col-12">
                <div class="row">
                    <div class="col mb-1">
                        <h5>
                            <strong>Nom :</strong>
                        </h5>
                        {{user.lastname}}
                    </div>
                    <div class="col mb-1">
                        <h5>
                            <strong>Prénom :</strong>
                        </h5>
                        {{user.firstname}}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-1">
                        <h5>
                            <strong>E-mail :</strong>
                        </h5>
                        {{user.email}}
                    </div>

                    <div class="col mb-1 ">
                        <h5>
                            <strong>Adresse 1 :</strong>
                        </h5>
                        {{ user.addressline1 }}
                    </div>
                </div>
                <div class="row">

                    <div class="col mb-3 ">
                        <h5>
                            <strong>Code postal :</strong>
                        </h5>
                        {{ user.zipcode }}
                    </div>
                    <div class="col mb-3 ">
                        <h5>
                            <strong>Adresse 2 :</strong>
                        </h5>
                        {{ user.addressline2 }}
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3 ">
                        <h5>
                            <strong>Ville :</strong>
                        </h5>
                        {{user.city}}
                    </div>
                </div>
            </div>
          
               CACA
        

        <div class="row">
            {% for products in product %}
                <div class="col  mt-5 ">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top"src="{{asset('uploads/pictureProduct' ~ user.id ~ '/' ~ products.image) }}" alt="Card image cap">
                        <div class="card-body">
                            <div class="col">
                                    <h6> Nom  :
                                        {{ products.name | lower }}</h6>
                                    <h6> Unité :
                                        {{ products.unit | lower }}</h6>
                                </div>
                                <div class="col">
                                    <h6>Quantité :
                                        {{ products.quantity | lower }}</h6>
                                </div>
                                <div class="col">
                                    <h6>Prix :
                                        {{ products.price }}</h6>
                                </div>
                          
                            <div class="col pb-2 text-center mt-5">
                                <a class="btn btn-danger" href="{{path('delete_produit',{'id' : products.id })}}">Supprimer</a>
                                <a class="btn btn-primary text-white" href="{{path('edit_produit',{'id' : products.id })}}">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
      

        

    </div>

</div>

{% endblock %}